# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Ignoriere generierte Python-Proto-Dateien
**/*_pb2.py

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
.pybuilder/
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
#   For a library or package, you might want to ignore these files since the code is
#   intended to run in multiple environments; otherwise, check them in:
# .python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# UV
#   Similar to Pipfile.lock, it is generally recommended to include uv.lock in version control.
#   This is especially recommended for binary packages to ensure reproducibility, and is more
#   commonly ignored for libraries.
#uv.lock

# poetry
#   Similar to Pipfile.lock, it is generally recommended to include poetry.lock in version control.
#   This is especially recommended for binary packages to ensure reproducibility, and is more
#   commonly ignored for libraries.
#   https://python-poetry.org/docs/basic-usage/#commit-your-poetrylock-file-to-version-control
#poetry.lock

# pdm
#   Similar to Pipfile.lock, it is generally recommended to include pdm.lock in version control.
#pdm.lock
#   pdm stores project-wide configurations in .pdm.toml, but it is recommended to not include it
#   in version control.
#   https://pdm.fming.dev/latest/usage/project/#working-with-version-control
.pdm.toml
.pdm-python
.pdm-build/

# PEP 582; used by e.g. github.com/David-OConnor/pyflow and github.com/pdm-project/pdm
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# pytype static type analyzer
.pytype/

# Cython debug symbols
cython_debug/

# PyCharm
#  JetBrains specific template is maintained in a separate JetBrains.gitignore that can
#  be found at https://github.com/github/gitignore/blob/main/Global/JetBrains.gitignore
#  and can be added to the global gitignore or merged into this file.  For a more nuclear
#  option (not recommended) you can uncomment the following to ignore the entire idea folder.
#.idea/

# Abstra
# Abstra is an AI-powered process automation framework.
# Ignore directories containing user credentials, local state, and settings.
# Learn more at https://abstra.io/docs
.abstra/

# Visual Studio Code
#  Visual Studio Code specific template is maintained in a separate VisualStudioCode.gitignore 
#  that can be found at https://github.com/github/gitignore/blob/main/Global/VisualStudioCode.gitignore
#  and can be added to the global gitignore or merged into this file. However, if you prefer, 
#  you could uncomment the following to ignore the enitre vscode folder
# .vscode/

# Ruff stuff:
.ruff_cache/

# PyPI configuration file
.pypirc

# Cursor
#  Cursor is an AI-powered code editor. `.cursorignore` specifies files/directories to
#  exclude from AI features like autocomplete and code analysis. Recommended for sensitive data
#  refer to https://docs.cursor.com/context/ignore-files
.cursorignore
.cursorindexingignore
package-lock.json
package.json
node_modules/.package-lock.json
node_modules/.bin/color-support
node_modules/.bin/mkdirp
node_modules/.bin/protoc-gen-protolint
node_modules/.bin/protolint
node_modules/.bin/semver
node_modules/@sindresorhus/is/license
node_modules/@sindresorhus/is/package.json
node_modules/@sindresorhus/is/readme.md
node_modules/@szmarczak/http-timer/LICENSE
node_modules/@szmarczak/http-timer/package.json
node_modules/@szmarczak/http-timer/README.md
node_modules/@types/http-cache-semantics/index.d.ts
node_modules/@types/http-cache-semantics/LICENSE
node_modules/@types/http-cache-semantics/package.json
node_modules/@types/http-cache-semantics/README.md
node_modules/agent-base/LICENSE
node_modules/agent-base/package.json
node_modules/agent-base/README.md
node_modules/ansi-regex/index.d.ts
node_modules/ansi-regex/index.js
node_modules/ansi-regex/license
node_modules/ansi-regex/package.json
node_modules/ansi-regex/readme.md
node_modules/aproba/CHANGELOG.md
node_modules/aproba/index.js
node_modules/aproba/LICENSE
node_modules/aproba/package.json
node_modules/aproba/README.md
node_modules/are-we-there-yet/LICENSE.md
node_modules/are-we-there-yet/package.json
node_modules/are-we-there-yet/README.md
node_modules/cacheable-lookup/index.d.ts
node_modules/cacheable-lookup/LICENSE
node_modules/cacheable-lookup/package.json
node_modules/cacheable-lookup/README.md
node_modules/cacheable-lookup/source/index.js
node_modules/cacheable-request/package.json
node_modules/cacheable-request/README.md
node_modules/chownr/chownr.js
node_modules/chownr/LICENSE
node_modules/chownr/package.json
node_modules/chownr/README.md
node_modules/color-support/bin.js
node_modules/color-support/browser.js
node_modules/color-support/index.js
node_modules/color-support/LICENSE
node_modules/color-support/package.json
node_modules/color-support/README.md
node_modules/console-control-strings/index.js
node_modules/console-control-strings/LICENSE
node_modules/console-control-strings/package.json
node_modules/console-control-strings/README.md
node_modules/console-control-strings/README.md~
node_modules/crypto-random-string/index.d.ts
node_modules/crypto-random-string/index.js
node_modules/crypto-random-string/license
node_modules/crypto-random-string/package.json
node_modules/crypto-random-string/readme.md
node_modules/crypto-random-string/node_modules/type-fest/base.d.ts
node_modules/crypto-random-string/node_modules/type-fest/index.d.ts
node_modules/crypto-random-string/node_modules/type-fest/license
node_modules/crypto-random-string/node_modules/type-fest/package.json
node_modules/crypto-random-string/node_modules/type-fest/readme.md
node_modules/crypto-random-string/node_modules/type-fest/source/async-return-type.d.ts
node_modules/crypto-random-string/node_modules/type-fest/source/asyncify.d.ts
node_modules/crypto-random-string/node_modules/type-fest/source/basic.d.ts
node_modules/crypto-random-string/node_modules/type-fest/source/conditional-except.d.ts
node_modules/crypto-random-string/node_modules/type-fest/source/conditional-keys.d.ts
node_modules/crypto-random-string/node_modules/type-fest/source/conditional-pick.d.ts
node_modules/crypto-random-string/node_modules/type-fest/source/entries.d.ts
node_modules/crypto-random-string/node_modules/type-fest/source/entry.d.ts
node_modules/crypto-random-string/node_modules/type-fest/source/except.d.ts
node_modules/crypto-random-string/node_modules/type-fest/source/fixed-length-array.d.ts
node_modules/crypto-random-string/node_modules/type-fest/source/iterable-element.d.ts
node_modules/crypto-random-string/node_modules/type-fest/source/literal-union.d.ts
node_modules/crypto-random-string/node_modules/type-fest/source/merge-exclusive.d.ts
node_modules/crypto-random-string/node_modules/type-fest/source/merge.d.ts
node_modules/crypto-random-string/node_modules/type-fest/source/mutable.d.ts
node_modules/crypto-random-string/node_modules/type-fest/source/observable-like.d.ts
node_modules/crypto-random-string/node_modules/type-fest/source/opaque.d.ts
node_modules/crypto-random-string/node_modules/type-fest/source/package-json.d.ts
node_modules/crypto-random-string/node_modules/type-fest/source/partial-deep.d.ts
node_modules/crypto-random-string/node_modules/type-fest/source/primitive.d.ts
node_modules/crypto-random-string/node_modules/type-fest/source/promisable.d.ts
node_modules/crypto-random-string/node_modules/type-fest/source/promise-value.d.ts
node_modules/crypto-random-string/node_modules/type-fest/source/readonly-deep.d.ts
node_modules/crypto-random-string/node_modules/type-fest/source/require-at-least-one.d.ts
node_modules/crypto-random-string/node_modules/type-fest/source/require-exactly-one.d.ts
node_modules/crypto-random-string/node_modules/type-fest/source/set-optional.d.ts
node_modules/crypto-random-string/node_modules/type-fest/source/set-required.d.ts
node_modules/crypto-random-string/node_modules/type-fest/source/set-return-type.d.ts
node_modules/crypto-random-string/node_modules/type-fest/source/simplify.d.ts
node_modules/crypto-random-string/node_modules/type-fest/source/stringified.d.ts
node_modules/crypto-random-string/node_modules/type-fest/source/tsconfig-json.d.ts
node_modules/crypto-random-string/node_modules/type-fest/source/typed-array.d.ts
node_modules/crypto-random-string/node_modules/type-fest/source/union-to-intersection.d.ts
node_modules/crypto-random-string/node_modules/type-fest/source/utilities.d.ts
node_modules/crypto-random-string/node_modules/type-fest/source/value-of.d.ts
node_modules/crypto-random-string/node_modules/type-fest/ts41/camel-case.d.ts
node_modules/crypto-random-string/node_modules/type-fest/ts41/camel-cased-properties-deep.d.ts
node_modules/crypto-random-string/node_modules/type-fest/ts41/camel-cased-properties.d.ts
node_modules/crypto-random-string/node_modules/type-fest/ts41/delimiter-case.d.ts
node_modules/crypto-random-string/node_modules/type-fest/ts41/delimiter-cased-properties-deep.d.ts
node_modules/crypto-random-string/node_modules/type-fest/ts41/delimiter-cased-properties.d.ts
node_modules/crypto-random-string/node_modules/type-fest/ts41/get.d.ts
node_modules/crypto-random-string/node_modules/type-fest/ts41/includes.d.ts
node_modules/crypto-random-string/node_modules/type-fest/ts41/index.d.ts
node_modules/crypto-random-string/node_modules/type-fest/ts41/kebab-case.d.ts
node_modules/crypto-random-string/node_modules/type-fest/ts41/kebab-cased-properties-deep.d.ts
node_modules/crypto-random-string/node_modules/type-fest/ts41/kebab-cased-properties.d.ts
node_modules/crypto-random-string/node_modules/type-fest/ts41/last-array-element.d.ts
node_modules/crypto-random-string/node_modules/type-fest/ts41/pascal-case.d.ts
node_modules/crypto-random-string/node_modules/type-fest/ts41/pascal-cased-properties-deep.d.ts
node_modules/crypto-random-string/node_modules/type-fest/ts41/pascal-cased-properties.d.ts
node_modules/crypto-random-string/node_modules/type-fest/ts41/screaming-snake-case.d.ts
node_modules/crypto-random-string/node_modules/type-fest/ts41/snake-case.d.ts
node_modules/crypto-random-string/node_modules/type-fest/ts41/snake-cased-properties-deep.d.ts
node_modules/crypto-random-string/node_modules/type-fest/ts41/snake-cased-properties.d.ts
node_modules/crypto-random-string/node_modules/type-fest/ts41/split.d.ts
node_modules/crypto-random-string/node_modules/type-fest/ts41/trim.d.ts
node_modules/crypto-random-string/node_modules/type-fest/ts41/utilities.d.ts
node_modules/debug/LICENSE
node_modules/debug/package.json
node_modules/debug/README.md
node_modules/debug/src/browser.js
node_modules/debug/src/common.js
node_modules/debug/src/index.js
node_modules/debug/src/node.js
node_modules/decompress-response/index.d.ts
node_modules/decompress-response/index.js
node_modules/decompress-response/license
node_modules/decompress-response/package.json
node_modules/decompress-response/readme.md
node_modules/decompress-response/node_modules/mimic-response/index.d.ts
node_modules/decompress-response/node_modules/mimic-response/index.js
node_modules/decompress-response/node_modules/mimic-response/license
node_modules/decompress-response/node_modules/mimic-response/package.json
node_modules/decompress-response/node_modules/mimic-response/readme.md
node_modules/defer-to-connect/LICENSE
node_modules/defer-to-connect/package.json
node_modules/defer-to-connect/README.md
node_modules/emoji-regex/index.d.ts
node_modules/emoji-regex/index.js
node_modules/emoji-regex/LICENSE-MIT.txt
node_modules/emoji-regex/package.json
node_modules/emoji-regex/README.md
node_modules/emoji-regex/text.js
node_modules/emoji-regex/es2015/index.js
node_modules/emoji-regex/es2015/text.js
node_modules/form-data-encoder/license
node_modules/form-data-encoder/package.json
node_modules/form-data-encoder/readme.md
node_modules/form-data-encoder/@type/FileLike.d.ts
node_modules/form-data-encoder/@type/FormDataEncoder.d.ts
node_modules/form-data-encoder/@type/FormDataLike.d.ts
node_modules/form-data-encoder/@type/index.d.ts
node_modules/form-data-encoder/@type/util/createBoundary.d.ts
node_modules/form-data-encoder/@type/util/escapeName.d.ts
node_modules/form-data-encoder/@type/util/getStreamIterator.d.ts
node_modules/form-data-encoder/@type/util/Headers.d.ts
node_modules/form-data-encoder/@type/util/isFile.d.ts
node_modules/form-data-encoder/@type/util/isFormData.d.ts
node_modules/form-data-encoder/@type/util/isFunction.d.ts
node_modules/form-data-encoder/@type/util/isPlainObject.d.ts
node_modules/form-data-encoder/@type/util/normalizeValue.d.ts
node_modules/form-data-encoder/@type/util/proxyHeaders.d.ts
node_modules/fs-minipass/index.js
node_modules/fs-minipass/LICENSE
node_modules/fs-minipass/package.json
node_modules/fs-minipass/README.md
node_modules/fs-minipass/node_modules/minipass/index.d.ts
node_modules/fs-minipass/node_modules/minipass/index.js
node_modules/fs-minipass/node_modules/minipass/LICENSE
node_modules/fs-minipass/node_modules/minipass/package.json
node_modules/fs-minipass/node_modules/minipass/README.md
node_modules/gauge/LICENSE.md
node_modules/gauge/package.json
node_modules/gauge/README.md
node_modules/get-stream/buffer-stream.js
node_modules/get-stream/index.d.ts
node_modules/get-stream/index.js
node_modules/get-stream/license
node_modules/get-stream/package.json
node_modules/get-stream/readme.md
node_modules/got/license
node_modules/got/package.json
node_modules/got/readme.md
node_modules/got-fetch/.czrc
node_modules/got-fetch/.eslintignore
node_modules/got-fetch/.kodiak.toml
node_modules/got-fetch/CHANGELOG.md
node_modules/got-fetch/jest.config.cjs
node_modules/got-fetch/LICENSE
node_modules/got-fetch/package.json
node_modules/got-fetch/README.md
node_modules/got-fetch/release.config.cjs
node_modules/got-fetch/tsconfig.json
node_modules/got-fetch/.github/dependabot.yml
node_modules/got-fetch/.github/workflows/pr.yml
node_modules/got-fetch/.github/workflows/release.yml
node_modules/has-unicode/index.js
node_modules/has-unicode/LICENSE
node_modules/has-unicode/package.json
node_modules/has-unicode/README.md
node_modules/http-cache-semantics/index.js
node_modules/http-cache-semantics/LICENSE
node_modules/http-cache-semantics/package.json
node_modules/http-cache-semantics/README.md
node_modules/http-proxy-agent/LICENSE
node_modules/http-proxy-agent/package.json
node_modules/http-proxy-agent/README.md
node_modules/http2-wrapper/index.d.ts
node_modules/http2-wrapper/LICENSE
node_modules/http2-wrapper/package.json
node_modules/http2-wrapper/README.md
node_modules/http2-wrapper/source/agent.js
node_modules/http2-wrapper/source/auto.js
node_modules/http2-wrapper/source/client-request.js
node_modules/http2-wrapper/source/incoming-message.js
node_modules/http2-wrapper/source/index.js
node_modules/http2-wrapper/source/proxies/get-auth-headers.js
node_modules/http2-wrapper/source/proxies/h1-over-h2.js
node_modules/http2-wrapper/source/proxies/h2-over-h1.js
node_modules/http2-wrapper/source/proxies/h2-over-h2.js
node_modules/http2-wrapper/source/proxies/h2-over-hx.js
node_modules/http2-wrapper/source/proxies/initialize.js
node_modules/http2-wrapper/source/proxies/unexpected-status-code-error.js
node_modules/http2-wrapper/source/utils/calculate-server-name.js
node_modules/http2-wrapper/source/utils/check-type.js
node_modules/http2-wrapper/source/utils/delay-async-destroy.js
node_modules/http2-wrapper/source/utils/errors.js
node_modules/http2-wrapper/source/utils/is-request-pseudo-header.js
node_modules/http2-wrapper/source/utils/js-stream-socket.js
node_modules/http2-wrapper/source/utils/proxy-events.js
node_modules/http2-wrapper/source/utils/proxy-socket-handler.js
node_modules/http2-wrapper/source/utils/validate-header-name.js
node_modules/http2-wrapper/source/utils/validate-header-value.js
node_modules/https-proxy-agent/LICENSE
node_modules/https-proxy-agent/package.json
node_modules/https-proxy-agent/README.md
node_modules/is-fullwidth-code-point/index.d.ts
node_modules/is-fullwidth-code-point/index.js
node_modules/is-fullwidth-code-point/license
node_modules/is-fullwidth-code-point/package.json
node_modules/is-fullwidth-code-point/readme.md
node_modules/is-stream/index.d.ts
node_modules/is-stream/index.js
node_modules/is-stream/license
node_modules/is-stream/package.json
node_modules/is-stream/readme.md
node_modules/json-buffer/.travis.yml
node_modules/json-buffer/index.js
node_modules/json-buffer/LICENSE
node_modules/json-buffer/package.json
node_modules/json-buffer/README.md
node_modules/json-buffer/test/index.js
node_modules/keyv/package.json
node_modules/keyv/README.md
node_modules/keyv/src/index.d.ts
node_modules/keyv/src/index.js
node_modules/lowercase-keys/index.d.ts
node_modules/lowercase-keys/index.js
node_modules/lowercase-keys/license
node_modules/lowercase-keys/package.json
node_modules/lowercase-keys/readme.md
node_modules/mimic-response/index.d.ts
node_modules/mimic-response/index.js
node_modules/mimic-response/license
node_modules/mimic-response/package.json
node_modules/mimic-response/readme.md
node_modules/minipass/index.d.ts
node_modules/minipass/index.js
node_modules/minipass/index.mjs
node_modules/minipass/LICENSE
node_modules/minipass/package.json
node_modules/minipass/README.md
node_modules/minizlib/constants.js
node_modules/minizlib/index.js
node_modules/minizlib/LICENSE
node_modules/minizlib/package.json
node_modules/minizlib/README.md
node_modules/minizlib/node_modules/minipass/index.d.ts
node_modules/minizlib/node_modules/minipass/index.js
node_modules/minizlib/node_modules/minipass/LICENSE
node_modules/minizlib/node_modules/minipass/package.json
node_modules/minizlib/node_modules/minipass/README.md
node_modules/mkdirp/CHANGELOG.md
node_modules/mkdirp/index.js
node_modules/mkdirp/LICENSE
node_modules/mkdirp/package.json
node_modules/mkdirp/readme.markdown
node_modules/mkdirp/bin/cmd.js
node_modules/ms/index.js
node_modules/ms/license.md
node_modules/ms/package.json
node_modules/ms/readme.md
node_modules/normalize-url/index.d.ts
node_modules/normalize-url/index.js
node_modules/normalize-url/license
node_modules/normalize-url/package.json
node_modules/normalize-url/readme.md
node_modules/npmlog/LICENSE.md
node_modules/npmlog/package.json
node_modules/npmlog/README.md
node_modules/p-cancelable/index.d.ts
node_modules/p-cancelable/index.js
node_modules/p-cancelable/license
node_modules/p-cancelable/package.json
node_modules/p-cancelable/readme.md
node_modules/protolint/index.js
node_modules/protolint/install.mjs
node_modules/protolint/package.json
node_modules/protolint/ReadMe.md
node_modules/protolint/version.mjs
node_modules/protolint/bin/protoc-gen-protolint
node_modules/protolint/bin/protoc-gen-protolint.js
node_modules/protolint/bin/protolint
node_modules/protolint/bin/protolint.js
node_modules/quick-lru/index.d.ts
node_modules/quick-lru/index.js
node_modules/quick-lru/license
node_modules/quick-lru/package.json
node_modules/quick-lru/readme.md
node_modules/resolve-alpn/index.js
node_modules/resolve-alpn/LICENSE
node_modules/resolve-alpn/package.json
node_modules/resolve-alpn/README.md
node_modules/responselike/index.d.ts
node_modules/responselike/index.js
node_modules/responselike/license
node_modules/responselike/package.json
node_modules/responselike/readme.md
node_modules/semver/index.js
node_modules/semver/LICENSE
node_modules/semver/package.json
node_modules/semver/preload.js
node_modules/semver/range.bnf
node_modules/semver/README.md
node_modules/semver/bin/semver.js
node_modules/semver/classes/comparator.js
node_modules/semver/classes/index.js
node_modules/semver/classes/range.js
node_modules/semver/classes/semver.js
node_modules/semver/functions/clean.js
node_modules/semver/functions/cmp.js
node_modules/semver/functions/coerce.js
node_modules/semver/functions/compare-build.js
node_modules/semver/functions/compare-loose.js
node_modules/semver/functions/compare.js
node_modules/semver/functions/diff.js
node_modules/semver/functions/eq.js
node_modules/semver/functions/gt.js
node_modules/semver/functions/gte.js
node_modules/semver/functions/inc.js
node_modules/semver/functions/lt.js
node_modules/semver/functions/lte.js
node_modules/semver/functions/major.js
node_modules/semver/functions/minor.js
node_modules/semver/functions/neq.js
node_modules/semver/functions/parse.js
node_modules/semver/functions/patch.js
node_modules/semver/functions/prerelease.js
node_modules/semver/functions/rcompare.js
node_modules/semver/functions/rsort.js
node_modules/semver/functions/satisfies.js
node_modules/semver/functions/sort.js
node_modules/semver/functions/valid.js
node_modules/semver/internal/constants.js
node_modules/semver/internal/debug.js
node_modules/semver/internal/identifiers.js
node_modules/semver/internal/lrucache.js
node_modules/semver/internal/parse-options.js
node_modules/semver/internal/re.js
node_modules/semver/ranges/gtr.js
node_modules/semver/ranges/intersects.js
node_modules/semver/ranges/ltr.js
node_modules/semver/ranges/max-satisfying.js
node_modules/semver/ranges/min-satisfying.js
node_modules/semver/ranges/min-version.js
node_modules/semver/ranges/outside.js
node_modules/semver/ranges/simplify.js
node_modules/semver/ranges/subset.js
node_modules/semver/ranges/to-comparators.js
node_modules/semver/ranges/valid.js
node_modules/set-blocking/CHANGELOG.md
node_modules/set-blocking/index.js
node_modules/set-blocking/LICENSE.txt
node_modules/set-blocking/package.json
node_modules/set-blocking/README.md
node_modules/signal-exit/LICENSE.txt
node_modules/signal-exit/package.json
node_modules/signal-exit/README.md
node_modules/string-width/index.d.ts
node_modules/string-width/index.js
node_modules/string-width/license
node_modules/string-width/package.json
node_modules/string-width/readme.md
node_modules/strip-ansi/index.d.ts
node_modules/strip-ansi/index.js
node_modules/strip-ansi/license
node_modules/strip-ansi/package.json
node_modules/strip-ansi/readme.md
node_modules/tar/index.js
node_modules/tar/LICENSE
node_modules/tar/package.json
node_modules/tar/README.md
node_modules/temp-dir/index.d.ts
node_modules/temp-dir/index.js
node_modules/temp-dir/license
node_modules/temp-dir/package.json
node_modules/temp-dir/readme.md
node_modules/tempy/index.d.ts
node_modules/tempy/index.js
node_modules/tempy/license
node_modules/tempy/package.json
node_modules/tempy/readme.md
node_modules/type-fest/index.d.ts
node_modules/type-fest/package.json
node_modules/type-fest/readme.md
node_modules/type-fest/source/async-return-type.d.ts
node_modules/type-fest/source/asyncify.d.ts
node_modules/type-fest/source/basic.d.ts
node_modules/type-fest/source/camel-case.d.ts
node_modules/type-fest/source/camel-cased-properties-deep.d.ts
node_modules/type-fest/source/camel-cased-properties.d.ts
node_modules/type-fest/source/conditional-except.d.ts
node_modules/type-fest/source/conditional-keys.d.ts
node_modules/type-fest/source/conditional-pick.d.ts
node_modules/type-fest/source/delimiter-case.d.ts
node_modules/type-fest/source/delimiter-cased-properties-deep.d.ts
node_modules/type-fest/source/delimiter-cased-properties.d.ts
node_modules/type-fest/source/entries.d.ts
node_modules/type-fest/source/entry.d.ts
node_modules/type-fest/source/exact.d.ts
node_modules/type-fest/source/except.d.ts
node_modules/type-fest/source/fixed-length-array.d.ts
node_modules/type-fest/source/get.d.ts
node_modules/type-fest/source/has-optional-keys.d.ts
node_modules/type-fest/source/has-required-keys.d.ts
node_modules/type-fest/source/includes.d.ts
node_modules/type-fest/source/internal.d.ts
node_modules/type-fest/source/invariant-of.d.ts
node_modules/type-fest/source/iterable-element.d.ts
node_modules/type-fest/source/join.d.ts
node_modules/type-fest/source/jsonify.d.ts
node_modules/type-fest/source/kebab-case.d.ts
node_modules/type-fest/source/kebab-cased-properties-deep.d.ts
node_modules/type-fest/source/kebab-cased-properties.d.ts
node_modules/type-fest/source/last-array-element.d.ts
node_modules/type-fest/source/literal-to-primitive.d.ts
node_modules/type-fest/source/literal-union.d.ts
node_modules/type-fest/source/merge-exclusive.d.ts
node_modules/type-fest/source/merge.d.ts
node_modules/type-fest/source/multidimensional-array.d.ts
node_modules/type-fest/source/multidimensional-readonly-array.d.ts
node_modules/type-fest/source/mutable.d.ts
node_modules/type-fest/source/numeric.d.ts
node_modules/type-fest/source/observable-like.d.ts
node_modules/type-fest/source/opaque.d.ts
node_modules/type-fest/source/optional-keys-of.d.ts
node_modules/type-fest/source/package-json.d.ts
node_modules/type-fest/source/partial-deep.d.ts
node_modules/type-fest/source/partial-on-undefined-deep.d.ts
node_modules/type-fest/source/pascal-case.d.ts
node_modules/type-fest/source/pascal-cased-properties-deep.d.ts
node_modules/type-fest/source/pascal-cased-properties.d.ts
node_modules/type-fest/source/primitive.d.ts
node_modules/type-fest/source/promisable.d.ts
node_modules/type-fest/source/promise-value.d.ts
node_modules/type-fest/source/readonly-deep.d.ts
node_modules/type-fest/source/readonly-tuple.d.ts
node_modules/type-fest/source/remove-index-signature.d.ts
node_modules/type-fest/source/replace.d.ts
node_modules/type-fest/source/require-all-or-none.d.ts
node_modules/type-fest/source/require-at-least-one.d.ts
node_modules/type-fest/source/require-exactly-one.d.ts
node_modules/type-fest/source/required-keys-of.d.ts
node_modules/type-fest/source/schema.d.ts
node_modules/type-fest/source/screaming-snake-case.d.ts
node_modules/type-fest/source/set-non-nullable.d.ts
node_modules/type-fest/source/set-optional.d.ts
node_modules/type-fest/source/set-required.d.ts
node_modules/type-fest/source/set-return-type.d.ts
node_modules/type-fest/source/simplify.d.ts
node_modules/type-fest/source/snake-case.d.ts
node_modules/type-fest/source/snake-cased-properties-deep.d.ts
node_modules/type-fest/source/snake-cased-properties.d.ts
node_modules/type-fest/source/split.d.ts
node_modules/type-fest/source/spread.d.ts
node_modules/type-fest/source/string-key-of.d.ts
node_modules/type-fest/source/stringified.d.ts
node_modules/type-fest/source/trim.d.ts
node_modules/type-fest/source/tsconfig-json.d.ts
node_modules/type-fest/source/typed-array.d.ts
node_modules/type-fest/source/union-to-intersection.d.ts
node_modules/type-fest/source/value-of.d.ts
node_modules/type-fest/source/writable.d.ts
node_modules/unique-string/index.d.ts
node_modules/unique-string/index.js
node_modules/unique-string/license
node_modules/unique-string/package.json
node_modules/unique-string/readme.md
node_modules/wide-align/align.js
node_modules/wide-align/LICENSE
node_modules/wide-align/package.json
node_modules/wide-align/README.md
node_modules/yallist/iterator.js
node_modules/yallist/LICENSE
node_modules/yallist/package.json
node_modules/yallist/README.md
node_modules/yallist/yallist.js
